.hero-section {
  color: #222;
  padding: 160px 0;
}

.hero-row {
  align-items: center;
}

.row {
  align-items: center;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
  justify-content: center;
  align-content: center;
}

.col-3 {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 30%;
  flex-basis: 30%;
  justify-content: center;
  align-content: center;
}

.hero-text-wrapper {
  max-width: 540px;
  padding-top: 0;
}

.hero-title {
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 1.1;
  font-weight: bold;
  color: #f0f0f7;
  border-left: 4px solid var(--primary);
  padding-left: 10px;
}

.dark {
  color: #222;
}

.darkBg {
  background-color: #222;
}

.hero-subtitle {
  font-size: 16px;
  max-width: 440px;
  margin-bottom: 35px;
  line-height: 24px;
  text-transform: none;
}

.hero-img-wrapper {
  max-width: 555px;
}

.hero-img {
  max-width: 95%;
  padding-right: 0;
  margin: 0 0 0 10px;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
